.header {
  /* background-color: #003580; */
  background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree-paradise-island_74190-1050.jpg?w=826&t=st=1704900002~exp=1704900602~hmac=80e08fbd804b2b954a9073cd4f5320ee2271a5dbac7bc8cf70dc88ad7bdb950c");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 80vh;
}

.headerSearch {
  background-color: rgba(200, 200, 200, 0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 0.25rem 1em;
  font-size: 20px;
  margin-bottom: 4em;
  color: #fff;
  overflow: hidden;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.headerSearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
}
.headerSearchInput::placeholder {
  color: #000;
}
